.navbar, .navbar-default{
  background-color: blue;
}

.container{
  margin: 0 10% auto;
}

.navbar-default .navbar-brand{
  color: white !important;
  margin-left: 10%;
}


nav li a{
  color: white !important;
}


.align-items-center img{
  height: 150px;
}
