.navbar, .navbar-default{
  background-color: #2C3E50;
}

.container{
  margin: 0 10% auto;
}

.navbar-default .navbar-brand{
  color: white !important;
  line-height: 45px !important;
  font-size: 3rem;
  font-weight: 700;
}

.navbar{
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 80px;
}

nav ul li a{
  color: white !important;
  line-height: 45px !important;
  font-weight: 700;
}

.bg-blue{
  background-color: #1abc9c;
}

.bg-white{
  background-color: white;
}

#jumbtron{
  padding-top: 60px;
  padding-bottom: 80px;
  color: white;
}

h1{
  font-size: 5rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 45px;
}

#jumbtron p{
  font-size: 20px;
  margin-top: 40px;
}

#jumbtron img{
  width: 250px;
  padding-bottom: 40px;
}

h1{
  text-transform: uppercase;
}

i{
  font-size: 25px;
  padding: 10px;
}

.icona{
  display: inline-block;
  width: 300px;
}

#white.icona:before, #white.icona:after{
  content: '';
  display: block;
  width: 40%;
  height: 5px;
  margin-top: 16px;
  background-color: white;
}

.icona:before{
  float: left;
}

.icona:after{
  float: right;
}

#black.icona:before, #black.icona:after{
  content: '';
  display: block;
  width: 40%;
  height: 5px;
  margin-top: 16px;
  background-color: black;
}

#portfolio{
  padding-top: 60px;
}



#portfolio .icona{
  margin-bottom: 30px;
}

.thumbnail{
 border: none;
 padding: 10px;
}

.thumbnail img{
  border-radius: 5%;
}

#about{
  width: 100%;
  padding-top: 60px;
  color: white;
}

#about .row{
  margin: 0 10% auto;
}

#about .download{
  padding-top: 20px;
  padding-bottom: 30px;
}

.btn-default i{
  font-size: 15px;
  padding: 0;
  padding-right: 5px;
}

.btn-custom{
  padding: 8px;
  font-size: 15px;
  background-color: inherit;
  color: inherit;
  border: 2px solid white;
}

#form{
  padding-top: 60px;
}

.form-custom{
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  height: 50px;
  box-shadow: none;
}

.form-custom::placeholder{
  color: #6C757D;
  font-weight: bold;
}

#form button{
  margin-top: 50px;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 10px;
  font-weight: bold;
}

footer{
  color: white;
  margin-top: 50px;
}

#first-footer{
  background-color: #2C3E50;
}

#first-footer h2{
  text-transform: uppercase;
}

#second-footer{
  background-color: #1A252F;
  height: 65px;
}

#second-footer span{
  line-height: 4.5;
}
